<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keer.job.admin.dao.XxlJobLogDao">
    <resultMap id="XxlJobLog"
               type="com.keer.job.admin.core.model.XxlJobLog">
        <result column="id" property="id"/>

        <result column="job_group" property="jobGroup"/>
        <result column="job_id" property="jobId"/>

        <result column="glue_type" property="glueType"/>

        <result column="executor_address" property="executorAddress"/>
        <result column="executor_handler" property="executorHandler"/>
        <result column="executor_param" property="executorParam"/>

        <result column="trigger_time" property="triggerTime"/>
        <result column="trigger_code" property="triggerCode"/>
        <result column="trigger_msg" property="triggerMsg"/>

        <result column="handle_time" property="handleTime"/>
        <result column="handle_code" property="handleCode"/>
        <result column="handle_msg" property="handleMsg"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
        t.job_group,
        t.job_id,
        t.glue_type,
        t.executor_address,
        t.executor_handler,
        t.executor_param,
        t.trigger_time,
        t.trigger_code,
        t.trigger_msg,
        t.handle_time,
        t.handle_code,
        t.handle_msg
    </sql>
    <select id="triggerCountByHandleCode" resultType="int">
        select count(1) from xxl_job_qrtz_trigger_log as t
        <trim prefix="where" prefixOverrides="and | or">
            <if test="handleCode gt 0">
                and t.handle_code = #{handleCode}
            </if>
        </trim>
    </select>

    <select id="triggerCountByDay" resultType="java.util.Map">
        select date_format(trigger_time,'%Y-%m-%d') triggerDay,count(id)
        triggerCount from xxl_job_qrtz_trigger_log
        where trigger_time between #{from} and #{to}
        <if test="handleCode gt 0">
            and handle_code = #{handleCode}
        </if>
        group by triggerDay
    </select>
</mapper>
