<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keer.job.admin.dao.XxlJobGroupDao">
    <resultMap id="XxlJobGroup"
               type="com.keer.job.admin.core.model.XxlJobGroup">
        <result column="id" property="id"/>
        <result column="app_name" property="appName"/>
        <result column="title" property="title"/>
        <result column="order" property="order"/>
        <result column="address_type" property="addressType"/>
        <result column="address_list" property="addressList"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
        t.app_name,
        t.title,
        t.order,
        t.address_type,
        t.address_list
    </sql>
    <select id="findAll" resultMap="XxlJobGroup">
        select
        <include refid="Base_Column_List"/>
        from xxl_job_qrtz_trigger_group as t
        order by t.order asc
    </select>
</mapper>
